<a href="https://colab.research.google.com/github/dyjdlopez/adu-pld/blob/main/lab-notes/pld_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Arithmetic and Logical Operators
---
$_{\text{© Project Alexandria | 2021 | Programming Logic and Design}}$

In [ ]:
#@title Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Part 1: Arithmetic Operations

## 1.1 PMDAS in Python

In [4]:
## Addition
num1 = 5
num2 = 7

total = num1+num2
print("The sum of {} and {} is {}".format(num1,num2,total))

The sum of 5 and 7 is 12

In [5]:
## Subtraction

difference = num1-num2
print("The difference of {} and {} is {}".format(num1,num2,difference))

The difference of 5 and 7 is -2

In [6]:
## Multiplication

product = num1*num2
print("The product of {} and {} is {}".format(num1,num2,product))

The product of 5 and 7 is 35

In [8]:
## Division

quotient = num1/num2
print("The quotient of {} and {} is {:.2f}".format(num1,num2,quotient))

The quotient of 5 and 7 is 0.71

In [9]:
## You can take this further and combine the arithmetic operations
pmdas = 3*(num1+num2)/2 + (5/3)*(num1-num2)
print(pmdas)

14.666666666666666

In [35]:
## Let's try to take user inputs to compute for its sum and difference
f_num = input("Enter the first number:")
s_num = input("Enter the second number:")

sums = f_num + s_num
diffs = f_num - s_num
print("{0}+{1}={2}\n{0}-{1}={3}".format(f_num,s_num,sums,diffs))

Enter the first number:1
Enter the second number:2

TypeError: ignored

In [ ]:
## Oops you have run into an error. The error is telling you that you cannot
## perform subtraction between two strings!

## The input() function does not automatically knows that your input is a number.
## As programmers you might need to anticipate this and apply a solution.
## One solution to this is to convert the string input to a number. To do this
## we will parse the string using the int() function. The int() function will 
## convert the string to integers.

## Let's do the code again

f_num = int(input("Enter the first number: "))
s_num = int(input("Enter the second number: "))

sums = f_num + s_num
diffs = f_num - s_num
print("{0}+{1}={2}\n{0}-{1}={3}".format(f_num,s_num,sums,diffs))

## The float() function also exists! You can try this if your input is expecting
## a decimal value

## 1.2 Intermediate Arithmetic

In [24]:
## Floor Division
num3 = 10
num4 = 7

print("Regular division: \n{}/{} = {}".format(num3, num4, num3/num4)) 
print("Floor division: \n{}/{} = {}".format(num3, num4, num3//num4))

Regular division:
10/7 = 1.4285714285714286
Floor division:
10/7 = 1

In [25]:
## Modulus
print(num3%num4)

3

In [30]:
## Division with remainders
whole_num = num3//num4
remainder = num3%num4
print("{}÷{}={}R{}".format(num3, num4, whole_num, remainder))

10÷7=1R3

In [15]:
## Exponentiation
base = 10
power = 2

print(10**2)

100

In [33]:
## Roots (using math logic)
squared = 25

sq_root = 25**(1/2)
print("The square root of {} is {}".format(squared, sq_root))

The square root of 25 is 5.0

Python can be used in coding mathematics! We can try to transcribe equations easily. Take this equation for example:

$$F = G\frac{m_1m_2}{r^2}$$

If you have done some physics before, this is the Universal law of gravitation where:

* $F$ is the force between two objects;
* $G$ is the universal gravitational constant;
* $m_1$ is the mass of the first object;
* $m_2$ is the mass of the second object; and
* $r$ is the distance between the two objects

In [14]:
## We can try to model that in Python

G = 6.67e10-11 ## the universal gravitational constant
m1 = 5.972e24 ## the mass of Earth
m2 = 7.348e22 ## the mass of the Moon
r = 3.84e8 ## the distance between the Earth and the Moon

F = G*(m1*m2)/r**2

print("The gravitational force between Earth and the Moon is {:.3e} N." .format(F))
## We used .3e instead of .3f since we want to use scientific notation. 
## You can try .3f is you want to see the difference!

The gravitational force between Earth and the Moon is 1.985e+41 N

## 1.3 Arithmetic Assignment

In [39]:
## Increments
inc_const = 1
inc_total = 0

In [ ]:
inc_total = inc_total + inc_const
print(inc_total)

In [46]:
inc_const = 1
inc_total = 0

In [ ]:
inc_total += inc_const
print(inc_total)

In [ ]:
## Decrement
dec_const = 1
dec_total = 100

In [ ]:
dec_total -= dec_const

In [65]:
## Exponential increase/decay
exp_const = 2
explode = 1
decay = 1024

In [ ]:
explode *= exp_const
print(explode)

In [ ]:
decay /= exp_const
print(decay)

# Part 2: Comparison Operations

## 2.1 Equalities and Identities

In [82]:
value_1 = 3
value_2 = 2
value_3 = 3.0

In [83]:
## Equality
print(value_1 == value_2)
print(value_1 == value_3)

False
True

In [84]:
## Identity
print(value_1 is value_2)
print(value_1 is value_3)

False
False

## 2.2 Inequalities

In [85]:
## Non-equality
print(value_1 != value_2)
print(value_1 != value_3)

True
False

In [86]:
## Greater Than
print(value_1 > value_2)
print(value_1 > value_3)

True
False

In [87]:
## GEQ
print(value_1 >= value_2)
print(value_1 >= value_3)

True
True

In [88]:
## Less Than
print(value_1 < value_2)
print(value_2 < value_3)

False
True

In [89]:
## LEQ
print(value_1 <= value_2)
print(value_2 <= value_3)

False
True

# Part 3: Logical Operations

In [103]:
bool1 = True
bool2 = False

## 3.1 Negation (NOT Operation)

In [104]:
print(not(bool1))
print(not(bool2))

False
True

In [124]:
passing = 50
my_score = 75
is_pass = my_score >= passing
print("Is score {} greater or equal than the passing {}?\nPass: {}\n".format(passing, my_score, is_pass))
print("Is score {} less than the passing {}?\nFail: {}\n".format(passing, my_score, not(is_pass)))

Is score 50 greater or equal than the passing 75?
Pass: True

Is score 50 less than the passing 75?
Fail: False

## 3.2 Conjuction (AND Operation)

In [113]:
## Truth table
print("| x\t| y\t| x AND y")
print("| {}\t| {}\t| {}".format(True, True, True and True))
print("| {}\t| {}\t| {}".format(True, False, True and False))
print("| {}\t| {}\t| {}".format(False, True, False and True))
print("| {}\t| {}\t| {}".format(False, False, False and False))

| x	| y	| x AND y
| True	| True	| True
| True	| False	| False
| False	| True	| False
| False	| False	| False

In [125]:
ordered_meal = 'B'
ordered_drinks = '1'

delivered_meal = 'B'
delivered_drinks = '2'

purchase = (ordered_meal == delivered_meal) and (ordered_drinks == delivered_drinks)
print("The purchase was successful: {}".format(purchase))

The purchase was successful: False

## 3.3 Disjunction (OR Operation)

In [114]:
## Truth table
print("| x\t| y\t| x OR y")
print("| {}\t| {}\t| {}".format(True, True, True or True))
print("| {}\t| {}\t| {}".format(True, False, True or False))
print("| {}\t| {}\t| {}".format(False, True, False or True))
print("| {}\t| {}\t| {}".format(False, False, False or False))

| x	| y	| x AND y
| True	| True	| True
| True	| False	| True
| False	| True	| True
| False	| False	| False

In [127]:
pref_time = "short"
pref_genre = "horror"

recom_time = "long"
recom_genre = "horror"

match = (pref_time == recom_time) or (pref_genre == recom_genre)
print("Was the recommendation useful? {}".format(match))

Was the recommendation useful? True

# Summary

# Additional Readings