<a href="https://colab.research.google.com/github/dyjdlopez/adu-pld/blob/main/lab-notes/pld_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Input and Output Operations
---
$_{\text{¬© Project Alexandria | 2021 | Programming Logic and Design}}$

In [ ]:
#@title Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

In programming or any systems development we tend to refer to the IPO (Input-Process-Output) Model (see figure below) when we conceptualize about the process of the automation that we will do.
![image](https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.qmswrapper.com%2Ffiles%2FPictures%2Fblog%2Froles-0.jpg&f=1&nofb=1)

A computer program starts with the **Input** block where it is expecting something from us or from its environment. It then **processes** that input through several phases of encoding, translating, and digitization through the compiler and other sub-processes. After processing the input data it then spits out an **output**. Outputs could either be a form of data or a reaction of a program (we also call it a response). You can also think about the IPO model in any process just like digestion wherein you intake food üçï process it with you digestive system üß™ and produces into some form of energy üí™. In this notebook, we will demonstrate the input and output routines in Python.

---

# Part 1: The `print()` function
The print function is another fundamental function in Python programming. When we talk of functions these are commands pre-made by other developers to do something. A function is a perfect example for the IPO model. You might notice that the `print()` function has the word part and also a pair of parentheses after. The parameters that the `print()` function accepts by default is a string.

### 1.1 Using the `print()` function

In [ ]:
print("Hello World!")

In [ ]:
#@title Try out the print function
#Put something in between the parenthesis
print()

### 1.2 Multiple Data Types

You might also need to display text that uses different data types or even from your own variables. The `print()` function can also accomplish this task by just adding another parameter.

In [4]:
## You can try to combine an additional string after the text you set
name = "Joe"
print("Hello",name)

Hello Joe

In [5]:
## You can also format your text with more variables!
age = 18
print(name,"'s age is",age)

Joe 's age is 18

### 1.3 Using the format() function
If you are particular with format you might notice that gap from the name with the apostrophe "s". That is a minor limitation of using comma delimiters in the `print()` function. This can be solved by using the string `format()` function. Given a string, you can fill in the blanks with a more structured formatting. 

---

Syntax:

`"main string {}".format(string)`

The main string is just any `string` data. You might notice the  the curly braces `{}` in the string. This is what we call a *placeholder*. A placeholder is like the blank in a fill-in-the-blank test then you fill them out using the contents of the `format()` function after the string.

In [23]:
print("My age is {}".format(age))

My age is 18

In [6]:
## You can add more placeholders in a string formatter
## Just make sure that the number of placeholders are the same with the
## number of parameters in your format() function.

print("{}'s age is {}".format(name, age))

## The order at which the parameters appear in the text will just
## follow the precedence of how you mentioned it in the function

Joe's age is 18

In [24]:
## Although you can overwrite them by specifying the number inside the placeholer
year = 2003
month = 10
day = 6
print("My birthday is on {1}/{0}/{2}".format(month,day,year))

My birthday is on 6/10/2003

You can also format numbers using the `format()` function. The examples below can help readability better.

In [25]:
ph_population = 109581078
print("The current population of the Philippines is {}.".format(ph_population))

The current population of the Philippines is 109581078.

In [26]:
## The population above is hard to read, we can't easily determine the place values
## of the figure. We can fix this by adding ":," inside the placeholder.
print("The current population of the Philippines is {:,}.".format(ph_population))

The current population of the Philippines is 109,581,078.

In [27]:
## You might also want to format floats with specified decimal places.
## Consider the percent population of the seniors below.

ph_seniors = 6.778204
print("The Philippines' Senior citizens are {:.2f}% of the population.".format(ph_seniors))

## If you want to specify the number of decimal places you can add ":.#f" inside
## your placeholder. Note that # should be replaced to the number of decimal
## values you want for the number.

The Philippines' Senior citizens are 6.78% of the population.

### 1.4 Backslash Characters

In [16]:
## New line
print("First Line \nA New Line")

First Line
A New Line

In [15]:
## Horizontal Tabulation
print("First word\tTabbed Word")

First word	Tabbed Word

In [ ]:
## Quotation Marks
print("She said "Python is Great!"")

In [18]:
## Quotation Marks
print("\"Double Quotes\"")
print('\'Single Quotes\'')

"Double Quotes"
'Single Quotes'

# Part 2: The `input()` Function

In [19]:
input("Enter a number: ")

Enter a number:9

'9'

In [20]:
name = input("Enter you name: ")
name

Enter you name: Joe

'Joe'

In [22]:
f_name = input("Enter you First Name: ")
s_name = input("Enter you Surname: ")
print("{} {} has entered the game!".format(f_name,s_name))

Enter you First Name: John
Enter you Surname: Doe
John Doe has entered the game!

### Try out for yourself!
Try to create a program that will collect your basic information such as:
* First Name
* Last Name
* Birthday

Then display a text showing a personalized message for the user. For example:

`Hi John Doe! Your Birthday is on 05/06/2000.`

In [ ]:
## YOUR CODE HERE

# Summary

# Additional Readings

https://queirozf.com/entries/python-number-formatting-examples